.DS_Store
.vscode/

node_modules/

__pycache__/
*.py[cod]
*$py.class

*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

.coverage
.coverage.*
.cache
coverage.xml
.pytest_cache/

.python-version
Pipfile.lock

__pypackages__/
